<div class="timer">
  <p class="timer__change-title">Change timer length:</p>
  <div class="timer__controls">
    <button class="timer__increase" (click)="increaseTimerLength()" value='Increase'
      [disabled]="isTimerStarted">Increase</button>
    
    <div class="timer__controls-splitter"></div>

    <button class="timer__decrease" (click)="decreaseTimerLength()" value='Decrease'
      [disabled]="isTimerStarted || timerTotalLength <= 1">Decrease</button>
  </div>

  <div class="timer__value">
    {{convertTime(timerCurrentValue)}}
  </div>
  <label for="range"></label>
  <input class="timer__range" name="range" type="range" min="0" max="1" disabled [ngStyle]="{'width': timerWidth}" />
</div>
