@import '../../../../stylesSettings/mixins';
@import '../../../../stylesSettings/variables';

.score {
  @include basic($greeting-score-height, 100vw);
  @include dis-flex(center, center);

  position: relative;

  overflow: hidden;

  &__congratulations,
  &__average {
    width: 100%;
    font-size: 1.8rem;
  }
  
  &__congratulations {
    text-align: end;
  }

  &__average {
    text-align: start;
  }

  &__total {
    @include flex-center;

    margin: 0 10px;
    font-size: 2.5rem;
    width: $score-total-width;
  }

  &::before,
  &::after {
    @include basic(inherit, calc(50% - #{$score-total-width}));
    content: '';

    position: absolute;
    top: 0;

    background-color: $game-background-color;

    transition: 0.3s ease-in;
  }
  

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }

  &--show-congrats {
    &::before,
    &::after {
      width: 0;

      transition: 0.5s ease-out;
    }
  }
}
