@import '../../stylesSettings/mixins';
@import '../../stylesSettings/variables';

:host {
  position: relative;
}

.header {
  @include basic($header-height, 100%);
  @include dis-flex-column(center, center);

  position: absolute;

  color: #EAE0D5;

  transition: 0.75s ease;
  overflow: hidden;

  z-index: 10;

  &__background {
    @include basic(100vh, 100vw);

    position: absolute;

    background-color: #0A0908;

    z-index: -1;

    &-filter {
      @include basic(inherit, inherit);

      background: linear-gradient(163deg, rgba(39, 37, 34, 0) 0%, rgba(39, 37, 34, 0.25) 100%);

      z-index: 1;
    }
  }

  &__title {
    margin: 20px 0;

    font-family: 'CircularStd-Medium';

    letter-spacing: 3px;
  }

  &__ask-name {
    @include basic(0, 200px);
    @include dis-flex-column(space-evenly, stretch);

    position: relative;

    opacity: 0;
    overflow: hidden;

    transition: 0.3s;

    &--displayed {
      height: 150px;

      opacity: 1;

      overflow: visible;
    }
  }

  &__label {
    font-size: 26px;
  }

  &__input {
    padding: 5px;

    border: 0;
    border-bottom: 1px solid #EAE0D5;
    box-sizing: border-box;

    outline: 0;

    background-color: transparent;
    color: #EAE0D5;

    font-size: 20px;

    transition: 0.3s;

    &:focus {
      border-radius: 2px;
      
      background-color: #EAE0D5;
      color: #000000;
    }
  }

  &__button {
    padding: 5px;

    border: 0;
    border-radius: 2px;

    background-color: #EAE0D5;

    text-decoration: none;
    cursor: pointer;

    font-size: 20px;
  }

  &__warning {
    @include flex-center;
    @include basic(0, 100%);

    position: absolute;

    top: 100%;

    opacity: 0;

    overflow: hidden;

    transition: 0.2s ease-in-out;

    &--displayed {
      height: 30px;

      opacity: 1;
    }
  }

  &__message {
    margin: 0;
  }

  &--fullscreen {
    @include basic(100vh, 100vw);

    position: fixed;

    top: 0;
    left: 0;
  }
}
