<header [ngClass]="['header', fullscreen ? 'header--fullscreen' : '']">
  <div class="header__background">
    <div class="header__background-filter"></div>
  </div>

  <h1 class="header__title">{{ title | titlecase }}</h1>

  <app-toggle-fullscreen-button className="header__fullscreen-button" buttonValue="Fullscreen" [isInitScreen]="isInitScreen"
    (toggleFullscreenEvent)="toggleFullscreen()"></app-toggle-fullscreen-button>

  <div [ngClass]="['header__ask-name', fullscreen ? 'header__ask-name--displayed' : '']">

    <label class="header__label" for="name">Enter your name:</label>
    <input class="header__input" type="text" name="name" placeholder="Your name..." [(ngModel)]="username" />

    <button class="header__button" type="button" (click)="checkName()">Submit</button>

    <div [ngClass]="['header__warning', isWarningShow ? 'header__warning--displayed' : '']">
      <p class="header__message">Please fill in the input field</p>
    </div>
  </div>
</header>
