@import '../../../stylesSettings/mixins';
@import '../../../stylesSettings/variables';

// :host {
//   position: relative;
// }

.header {
  @include basic($header-height, 100vw);

  &--main {
    .header__panel {
      @include dis-flex-column(center, center);
    }
  }

  &--game {
    .header__background {
      @include basic($header-height, 100%);
      @include absolute-0-0;

      background-color: $main-color;
      
      z-index: 1;

      &-filter {
        @include basic(inherit, inherit);

        background: linear-gradient(163deg, rgba(39, 37, 34, 0) 0%, rgba(39, 37, 34, 0.25) 100%);

        z-index: 1;
      }
    }
  }

  &__background {
    background-color: transparent;

    &-filter {
      background: transparent;
    }
  }

  &__panel {
    @include basic(100%, 100%);
    @include dis-flex(space-between, center);

    color: $secondary-color;

    transition: 0.75s ease;
    overflow: hidden;

    z-index: 10;
  }

  &__title {
    margin: 2rem 0;

    color: $game-background-color;

    font-family: 'CircularStd-Book';
    font-family: 'Reem_Kufi';

    letter-spacing: 3px;

    font-size: 4.6rem;

    z-index: 1;
  }
}
