<header [ngClass]="['header', isGameScreen ? 'header--game' : '', isMainScreen ? 'header--main' : '']">
  <div class="header__background">
    <div class="header__background-filter"></div>
  </div>

  <div class="header__panel">
    <app-header-button-link [disabled]="username === ''" [isAbsoluteLeft]="isMainScreen" buttonValue="Highscores"
    routeLink="/highscores" (click)="RouteLinkAction()">
    </app-header-button-link>

    <h1 class="header__title">{{ title | titlecase }}</h1>

    <app-header-button-link [disabled]="isMainScreen && username === ''" [isAbsoluteRight]="isMainScreen" buttonValue="MainScreen"
      routeLink="{{isMainScreen ? '/game' : '/'}}">
    </app-header-button-link>
  </div>
</header>
