//components size
$header-height: 10rem;
$click-button-size: 25rem;
$timer-controls-button-height: 3rem;
$greeting-score-height: 10rem;
$score-total-width: 3em;
$fullscreen-button-width: 15rem;

// colors
$main-color: #0A0908;
$secondary-color: #EAE0D5;
$game-background-color: #EAE0D5;
$button-active-color: #22333B;
