<div class="click-button" (click)="!isGameDelayed || isInitGame ? clickAction() : null">
  <div class="click-button__list-wrapper">
    <ul class="click-button__list">
      <li [ngClass]="['click-button__text', isGameDelayed && !isInitGame ? 'click-button__text--displayed' : '']">
        Game over!
      </li>
      <li [ngClass]="['click-button__text', !isGameStarted && !isGameDelayed || isInitGame ? 'click-button__text--displayed' : '']">
        Start new game
      </li>
      <li [ngClass]="['click-button__text', isGameStarted ? 'click-button__text--displayed' : '']">
        {{ clicksSpeed }} c/s
      </li>
    </ul>
  </div>
  <div class="click-button__circle" *ngFor="let circle of circles"></div>
</div>
