@import '../../../stylesSettings/mixins';
@import '../../../stylesSettings/variables';
@import '../../../stylesSettings/animations';

.header-button-link {
  @include basic($header-height, $fullscreen-button-width);
  @include flex-center;

  position: relative;

  outline: 0;
  border: 0;

  background-color: transparent;
  color: $secondary-color;

  font-size: 1.8rem;
  font-family: 'Reem_Kufi';

  cursor: pointer;

  z-index: 100;

  &--disabled {
    opacity: 0;

    cursor: none;
    pointer-events: none;
  }

  &:hover {
    color: $secondary-color;

    animation: text-blink 7s infinite;
  }

  &:disabled {
    opacity: 0;
    pointer-events: none;
    cursor: none;
  }

  &--left {
    position: absolute;
    top: 0;
    left: 0;
  }

  &--right {
    position: absolute;
    top: 0;
    right: 0;
  }
}
