@import '../../stylesSettings/mixins';
@import '../../stylesSettings/variables';

.highscore {
  @include basic(0, 100vw);
  @include absolute-0-0;

  transition: 1s ease-in;

  z-index: 100;

  &--fullscreen {
    height: 100vh;

    background-color: $main-color;
  }

  &__fullscreen-button {
    @include dis-flex(flex-start, center);

    left: 0;
  }
}
