@import '../../stylesSettings/mixins';
@import '../../stylesSettings/variables';

.highscore {
  @include absolute-0-0;

  z-index: 100;

  &--fullscreen {
    width: 100vw;
    height: 100vh;

    background-color: $secondary-color;
  }
  
  &__fullscreen-button {
    @include dis-flex(flex-start, center);

    left: 0;
  }
}
