@import '../stylesSettings/fonts';
@import '../stylesSettings/variables';

.app {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: #EAE0D5;

  font-family: 'CircularStd-Book';

  &__content {
    margin-top: $header-height;
  }
}
