@import '../stylesSettings/fonts';
@import '../stylesSettings/variables';

.app {
  display: flex;
  flex-direction: column;

  height: 100vh;

  background-color: $game-background-color;

  font-family: 'CircularStd-Book';

  &__content {
    margin-top: $header-height;

    position: relative;
  }
}
