@import '../../../stylesSettings/mixins';
@import '../../../stylesSettings/variables';

.highscore {
  @include basic(100vh, 100vw);
  position: fixed;

  transition: 0.5s ease-in;

  background-color: $main-color;
  color: $secondary-color;

  overflow: hidden;

  z-index: 100;

  &__table {
    @include basic(100%, 100%);
  }

  &__list {
    @include marpad-0-0;

    list-style: none;

    font-size: 2rem;
  }
}
