<div [ngClass]="['highscore', fullscreen ? 'highscore--fullscreen' : '']">
  <app-toggle-fullscreen-button 
    className="highscore__fullscreen-button"
    buttonValue="Highscores"
    (toggleFullscreenEvent)="toggleFullscreen()"
  ></app-toggle-fullscreen-button>

  <div class="highscore__table">
    <ul class="highscore__list">
      <li class="highscore__item" *ngFor="let score of highscoresArray">
        <p>{{ score.counterTime }}</p>
        <p>{{ score.owner }}</p>
        <p>{{ score.total }}</p>
        <p>{{ score.average }}</p>
        <p>{{ score.highscoreReached }}</p>
        <hr />
      </li>
    </ul>
  </div>
</div>
