<div [ngClass]="['highscore']">
  <app-header></app-header>

  <div class="highscore__table">
    <app-highscore-pagination (timeFilterEvent)="changeTimeFilter($event)"></app-highscore-pagination>

    <app-highscore-sort-panel (sortCriteriaEvent)="changeSortCriteria($event)"
      (isAscendingEvent)="changeIsAscending($event)">
    </app-highscore-sort-panel>

    <ul class="highscore__list">
      <app-highscore-tile *ngFor="let score of highscoresArray 
        | filterHighscores: timeFilter
        | sortHighscores: sortCriteria: isAscending" 
      [owner]=score.owner
      [total]=score.total
      [average]=score.average
      [reached]=score.reached>
      </app-highscore-tile>
    </ul>
  </div>
</div>
