@font-face {
  font-family: "CircularStd-Medium";
  src: local("CircularStd-Medium"), url(./assets/fonts/CircularStd/CircularStd-Medium.ttf);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "CircularStd-Book";
  src: local("CircularStd-Book"), url(./assets/fonts/CircularStd/CircularStd-Book.ttf);
  font-weight: normal;
  font-style: normal;
}

html,
body {
  margin: 0;
  padding: 0;

  font-family: 'CircularStd-Book';
}
